<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<a th:href="@{/login}">Login</a>
<a th:href="@{/register}">Register</a>
<h1>Welcome</h1>
<h3>This is the home page.</h3>
<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>
</div>
</body>
</html>