<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<h1>User List</h1>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${users}" th:if="${user.getID() != file.getId()}">
        <td th:text="${user.username}"></td>

        <td>
            <form method="POST" th:action="@{/user-list/add}">
                <input type = "hidden" name="userID" th:value="${user.getID()}">
                <input type = "hidden" name="fileID" th:value="${file.getId()}">
                <input type="submit" value="Add">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>